<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200333986882-6dkhcja8pjerikkkpuh8h2oseojim02b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200333986882-6dkhcja8pjerikkkpuh8h2oseojim02b</string>
	<key>API_KEY</key>
	<string>AIzaSyCjpSX9VX3LxZbU4ROxe1bB2YLWysOzeKs</string>
	<key>GCM_SENDER_ID</key>
	<string>200333986882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eclipsestudios.employeeattendance</string>
	<key>PROJECT_ID</key>
	<string>employee-attendance-71809</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-attendance-71809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200333986882:ios:8b74d0372619596c6db1db</string>
	<key>DATABASE_URL</key>
	<string>https://employee-attendance-71809.firebaseio.com</string>
</dict>
</plist>